.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin:auto;
}
.flex-row {
  display: flex;
}
.desktoplogo {
  padding: 10px 10px;
  margin: 0;
  float: left;
  position: relative;
  top: -100px;
}

.flex-img {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  align-content: "center";
  flex-wrap: wrap;
}
.font-change{
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}
.dropdown-menu {
  height: 70px;
  overflow-y: scroll;
}